---
layout: page
description: "欢迎来到我的主页"
---
##零基础搭建博客，以展现我的快速学习和总结反思能力

您好，在制作简历时，我想我需要证明自己具备总结反思的能力。

于是准备把自己平时学习、学生工作之后的总结反思用一个二维码浓缩起来让您能看到。

我开始思考如何实现，QQ空间肯定不行，微信公众号只能注册一个而我已经有一个拿去给我女朋友写情书了，而新浪博客嫌我的复盘有敏感词。

自然而然地，就想到了自己搭一个博客，如果能够搭起来的话，也能够证明我的快速学习能力。

可我没有相关基础，学化学的只在大一接触过一点点的C语言，这对我来说也是一个挑战。

说干就干，网上什么资源都有，就看自己能不能付出努力，一次又一次地尝试，我花了两天时间，终于搭出了这样一个成品。

希望您能对我有一个不一样的印象，因为我：

拥有快速学习的能力，经常总结反思，

最重要的是，我追求越来越靠谱



{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:150 }}
        </div>
    </a>
    <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
</div>

<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
